abstract_apis==0.0.1.137
abstract_clipit==0.0.1.64
abstract_database==0.0.2.123
abstract_gui==0.1.63.229
abstract_paths==0.0.0.189
abstract_react==0.0.0.80
abstract_utilities==0.2.2.726
abstract_webtools==0.1.6.410
beautifulsoup4==4.14.3
gui==0.0.1
numpy==2.4.3
pandas==3.0.1
Pillow==12.1.1
playwright==1.58.0
psycopg2_binary==2.9.11
PyQt6==6.10.2
pyqt6_sip==13.11.0
PySide6==6.10.2
Requests==2.32.5
scipy==1.17.1
selenium==4.41.0
SQLAlchemy==2.0.48
urllib3==2.6.3
webdriver_manager==4.0.2
